<div id="recipe">
 <h1><%=@recipe.name %></h1>
 <%=image_tag @recipe.avatar.url %>
 <p>Description: <%=@recipe.description%></p>
  <p>Ingredients: <%=@recipe.ingredients%></p>
  <p>Instructions: <%=@recipe.instructions%></p>
</div>